<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>db</servlet-name>
  	<servlet-class>DBServlet</servlet-class>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>orcle.jdbc.OraleDriver</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dburl</param-name>
  		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbuser</param-name>
  		<param-value>system</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbpwd</param-name>
  		<param-value>123456</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>db</servlet-name>
  	<url-pattern>dburl-init</url-pattern>
  </servlet-mapping>
  <display-name>dbservlet-init-parms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>